/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.loading-animation {
	font-size: var(--font-ui-small);
	color: var(--text-normal);
}

.topbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: var(--size-4-2);
	margin-bottom: var(--size-4-2);
	background-color: var(--background-secondary);
}

.topbar > .searchbox {
	border: 1px solid var(--background-modifier-border);
	border-radius: var(--radius-s);
	flex-grow: 1;
}

.topbar > .btn {
	margin: 0;
}

.card {
	padding: var(--size-4-4);
	margin: 0;
	margin-bottom: var(--size-4-2);
	border-radius: var(--radius-s);
}

.card-primary {
	border: 1px solid var(--background-modifier-border);
	background-color: var(--background-primary);
}

.card-secondary {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-grow: 1;
	gap: var(--size-4-2);
	border: 1px solid var(--background-modifier-border);
	background-color: var(--background-secondary);
	cursor: pointer;
	word-break: break-word;
}

.card-warning {
	border: 1px solid var(--background-modifier-border);
	background-color: var(--background-modifier-error);
}

.card-title {
	font-size: var(--font-ui-medium);
	font-weight: var(--font-bold);
	color: var(--text-normal);
	text-align: left;
	margin-bottom: var(--size-4-2);
	line-height: normal;
}

.card-secondary > .card-title {
	font-weight: var(--font-semi-bold);
}

.card-content {
	font-size: var(--font-ui-small);
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	color: var(--text-muted);
	margin-bottom: var(--size-4-2);
}

.card-secondary > div > .card-content {
	margin-bottom: 0;
	-webkit-line-clamp: 3;
}

.card-full {
	-webkit-line-clamp: initial !important;
}

.card-footer {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: var(--size-4-2);
}

.card-sidebar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: top;
	gap: var(--size-2-2);
}

.card-main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--size-4-2);
	flex-shrink: 1;
	max-width: -webkit-fill-available;
}

.btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--size-2-2);
	padding: var(--size-4-2) var(--size-4-2);
	border: 1px solid var(--background-modifier-border);
	color: var(--text-normal);
	cursor: pointer;
	border-radius: var(--radius-s);
	box-shadow: none !important;
}

.card-sidebar .btn {
	width: 24px;
	height: 24px;
	padding: var(--size-2-2);
	border: none;
}

.btn-primary {
	background-color: var(--interactive-normal);
	color: var(--text-normal);
}

.btn-secondary {
	background-color: var(--background-secondary);
	color: var(--text-normal);
}

.icon {
	width: var(--icon-m);
	height: var(--icon-m);
}

.btn > .icon {
	color: var(--icon-color);
	width: var(--icon-s);
	height: var(--icon-s);
}

.model-selector {
	font-size: var(--font-ui-smaller);
	font-weight: var(--font-semi-bold);
	color: var(--text-faint);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.model-selector > .icon {
	width: var(--icon-xs);
	height: var(--icon-xs);
}
